@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Poppins", "Roboto", sans-serif;
    background: rgb(132,206,235);
    background: radial-gradient(circle, rgba(132,206,235,1) 59%, rgba(193,200,228,1) 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.footer {
    text-align: center;
    background-color: #687864;
    padding: 12px;
}

.content-box {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 40%;
    background: rgb(136,96,208);
    background: linear-gradient(45deg, rgba(136,96,208,1) 0%, rgba(90,185,234,1) 100%);
    text-align: center;
    border-radius: 2em;
    padding: 15px;
    box-shadow: 10px 10px 40px #182628;
}

.content input {
    /* margin: 0 auto; */
    background-color: #5680e9;
    border: none;
    padding: 0.5rem;
    border-radius: 10em;
}

.content input:focus {
    outline: none;
    background-color: #4a77e9;
}

#btn {
    background-color: #5680e9;
    border: none;
    border-radius: 0.8em;
    padding: 0.5rem;
    outline: #182628;
}

.inpBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}