@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Poppins", "Roboto", sans-serif;
    background-color: #8fc1e3;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.footer {
    text-align: center;
    background-color: #687864;
    padding: 12px;
}

.content-box {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 40%;
    background-color: #31708E;
    text-align: center;
}

.content input {
    display: block;
    margin: 0 auto;
}