@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Poppins", "Roboto", sans-serif;
    background: rgb(36,37,130);
background: linear-gradient(45deg, rgba(36,37,130,1) 0%, rgba(85,61,103,1) 22%, rgba(246,76,114,1) 49%, rgba(153,115,142,1) 80%, rgba(47,47,224,1) 100%);
    /* background: rgb(132,206,235);
    background: radial-gradient(circle, rgba(132,206,235,1) 59%, rgba(193,200,228,1) 100%); */
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.footer {
    color: white;
    text-align: center;
    background-color: #331f6b;
    padding: 12px;
}

.footer a {
    color:white;
    text-decoration: none;
}
.footer a:visited {
    color:white;
}

.content-box {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 40%;
    background: rgb(246,76,114);
background: linear-gradient(48deg, rgba(246,76,114,1) 0%, rgba(255,130,158,1) 100%);
    /* background: rgb(136,96,208);
    background: linear-gradient(45deg, rgba(136,96,208,1) 0%, rgba(90,185,234,1) 100%); */
    text-align: center;
    border-radius: 2em;
    padding: 15px;
    box-shadow: 10px 10px 10px rgba(78, 24, 35, 0.5);
}

.content input {
    /* margin: 0 auto; */
    background: rgb(246,76,114);
background: linear-gradient(45deg, rgba(246,76,114,1) 0%, rgba(255,130,158,1) 100%);
    border: none;
    padding: 0.5rem;
    border-radius: 10em;
    box-shadow: inset 2px 2px 2px #431c445b;
}

.content input:focus {
    outline: none;
    background-color: #331f6b;
}

.content input:hover {
    box-shadow: inset 2px 2px 12px #431c445b;
    transition: box-shadow 0.20s;
}

#btn {
background: linear-gradient(45deg, rgba(246,76,114,1) 0%, rgba(255,130,158,1) 100%);
    border: none;
    border-radius: 0.8em;
    padding: 0.5rem;
    box-shadow: inset 2px 2px 2px #431c445b;
}

#btn:hover {
    box-shadow: inset 2px 2px 12px #431c445b;
    transition: box-shadow 0.20s;
}

#btn:active {
    background: linear-gradient(45deg, rgb(255, 42, 88) 0%, rgb(255, 77, 116) 100%);
    box-shadow: inset 2px 2px 12px #431c445b;
}

.inpBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 0.6em;
}